[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
yagmail = "*"
jinja2 = "*"
schedule = "*"
webdriver-manager = "*"
selenium = "*"
easydict = "*"
pyyaml = "*"
beautifulsoup4 = "*"

[dev-packages]
#[requires]
#python_version = ">=3.9"
jupyter = "*"
